# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# VS code 
.vscode

# MacOS
.DS_Store

# project dirs
/experiment
